<div{{ attributes }}>
    {% embed "components/.card.html.twig" %}
        {% block card_header %}
            {% trans %}Visit{% endtrans %}
        {% endblock %}

        {% block card_body %}
            {{ render_chart(chart) }}
        {% endblock %}
    {% endembed %}
</div>