<div class="form-column form-column-no-header field-form_column col-md-{{ col }}">
    <div class="form-column-title">
        <div class="form-column-title-content">
        </div>
    </div>
    {{ block('column_body') }}
</div>
