{% block ea_text_editor_js_widget %}
    <div class="editorjs">
        <div data-editor="editorjs"></div>
        <input type="hidden" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    </div>
{% endblock %}
