<div class="field-form_fieldset">
    <fieldset class="form-fieldset">
        <div class="form-fieldset-body without-header show">
            {{ block('fieldset_body') }}
        </div>
    </fieldset>
</div>
